<!DOCTYPE html>
<html>
  <head>
    <title>InfoWeb</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
  </head>
  <body>
    <!--curtain menu-->
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <div class="overlay-content text-center">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact us</a>
      </div>
    </div>
    <i class="fas fa-bars nav-icon" onclick="openNav()"></i>
    <!--End curtain menu-->
    <!--side bar-->
    <div class="icon-bar text-center">
      <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="google"><i class="fab fa-google"></i></a>
      <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
    </div>
    <!--End side bar-->
    <div class="header">
      <div class="container text-center main-text">
        <h1>Websites built differently</h1>
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded waves-effect mt-5 sign"
        >
          More
        </button>
      </div>
    </div>
    <div class="full-about">
      <div
        class="section-about align-items-center"
        style="padding: 150px 100px; background-image: url('../images/office.jpg');"
      >
        <div>
          <div class="about-title">About us</div>
          <p class="about-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            inventore illum minus, officiis, sed voluptates modi ex labore quam
            laborum cum cumque a odit error nulla. Ad deleniti debitis eos?
          </p>
          <button class="btn btn-outline-primary" style="width: 200px;">
            Click
          </button>
        </div>
      </div>
    </div>
    <div class="container informational my-5">
      <h1 class="text-uppercase text-center">What we do</h1>
      <p class="text-center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis non
        vitae recusandae illo.
      </p>
      <div class="row text-center mt-5 wwdo">
        <div class="col-md-4 px-5">
          <h2>Marketing</h2>
          <p class="wwdo-p">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam
            fugiat aperiam perferendis reprehenderit at suscipit fugit nam
            consequatur quod facere. Obcaecati adipisci ipsa odio commodi
            doloremque minus rerum quas fugit.
          </p>
          <p>
            <a href="#" class="btn btn-outline-primary button">Button</a>
          </p>
        </div>
        <div class="col-md-4 px-5">
          <h2>IT Services</h2>
          <p class="wwdo-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
            suscipit perspiciatis velit eos dolorem pariatur numquam! Error,
            quibusdam nulla aspernatur aut fugiat at expedita quidem repellat
            sunt. Illo, quam velit?
          </p>
          <p>
            <a href="#" class="btn btn-outline-primary button">Button</a>
          </p>
        </div>
        <div class="col-md-4 px-5">
          <h2>Other</h2>
          <p class="wwdo-p">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam
            vitae tempora sunt quae, sapiente voluptate commodi neque sint
            incidunt eum rem inventore corrupti magnam numquam iusto odio
            possimus mollitia eveniet.
          </p>
          <p>
            <a href="#" class="btn btn-outline-primary button">Button</a>
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 service-section">
            <div class="title-row">
              <h1 style="margin: 30px 0;padding-right: 1.3em;">
                Commited to Excellence
              </h1>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Veritatis non vitae recusandae illo. Dolorum hic, id fugiat
                excepturi nisi incidunt error molestiae recusandae earum! Dolorem
                deserunt dignissimos magnam id fuga?Dolorum porro doloribus
                deserunt natus exercitationem obcaecati vel nostrum eum iure
                eveniet assumenda fugiat veniam animi perspiciatis, eligendi
                ducimus rerum doloremque blanditiis rem inventore voluptate.
                Assumenda iste odio aliquid hic.
              </p>
            </div>
          </div>
          <div class="col-md-6" style="padding:0;">
            <div class="relative-image my-5">
              <img
                src="../images/marketing.jpg"
                alt=""
                style="width:90%;display: inline-block;"
              />
            </div>
            <div class="absolute-background"></div>
          </div>
        </div>
  </body>
  <!--Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js"
  ></script>
  <script src="javascripts/main.js"></script>
</html>
